body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  width: 100vw;
}

 .product-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

/* Adjust for medium-sized screens */
@media (min-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Adjust for larger screens */
@media (min-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Ensure proper scaling for extra small screens */
@media (max-width: 400px) {
  .product-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}